<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>mongodb 增删改查演示</h2>

    <div>
      <div>
        用户名: <input id="username"/>
      </div>
      <div>
        密码: <input type="password" id="password"/>
      </div>
      <div>
        年龄: <input type="number" id="age"/>
      </div>

      <br/>

      <div>
        <button id="register">注册</button>
        <button id="update">更新</button>
        <button id="delete">删除</button>
      </div>
    </div>

    <br/>

    <table border="1">
      <thead>
        <tr>
          <td>id</td>
          <td>用户名</td>
          <td>年龄</td>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    <script>
      var username = document.querySelector("#username")
      var password = document.querySelector("#password")
      var age = document.querySelector("#age")

      var register = document.querySelector("#register")
      var update = document.querySelector("#update")
      var deletebutton = document.querySelector("#delete")

      // 注册用户
      register.onclick = () => {
        fetch("/api/user",{
          method: "POST",
          body: JSON.stringify({
            username: username.value,
            password: password.value,
            age: age.value
          }),
          headers: {
            "Content-Type":"application/json"
          }
        }).then(res => res.json()).then(res => {
          console.log(res)
        })
      }

      // 更新用户
      update.onclick = () => {
        fetch("/api/user/660aadd3af3411d2bb83e7f1",{
          method: "PUT",
          body: JSON.stringify({
            username: "wyw",
            password: "15150193696",
            age: 10 
          }),
          headers: {
            "Content-Type":"application/json"
          }
        }).then(res => res.json()).then(res => {
          console.log(res)
        })
      }

      // 删除用户
      deletebutton.onclick = () => {
        fetch("/api/user/660aadd3af3411d2bb83e7f1", {
          method: "DELETE"
        }).then(res => res.json()).then(res => {
          console.log(res)
        })
      }

      // 查询用户
      fetch("/api/user?page=1&limit=10").then(res => res.json()).then(res => {
        console.log(res)
        var tbody = document.querySelector("tbody")
        tbody.innerHTML = res.map(item=>`
          <tr>
            <td>${item._id}</td>  
            <td>${item.username}</td>  
            <td>${item.age}</td>  
          </tr>
        `).join("")
      })
    </script>
  </body>
</html>
