<header>
  <span>公共导航栏</span>
  <span>
    <% if(show) { %>
      作者：wyw
    <% } %>
  </span>
</header>

<style>
  header {
    background-color:#282622;
    color: aliceblue;
    padding: 10px;
  }

  span{
    margin-right: 20px;
  }
</style>